{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-start align-items-center">
    <h1>{% block title %}タスク追加{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <form method="post" class="py-3 col-6 mx-auto">
    <div class="row mb-3">
      <label for="inputTask" class="col-form-label"><i class="bi bi-list-task"></i> タスク名</label>
      <div>
        <input name="title" type="text" class="form-control" id="inputTask" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputMemo" class="col-form-label"><i class="bi bi-card-text"></i> 備考欄</label>
      <div>
        <textarea name="body" class="form-control" id="inputMemo" rows="3" required></textarea>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn accent_btn_color text_color">追加</button>
    </div>
  </form>
{% endblock %}
