{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-start align-items-center">
    <h1>{% block title %}修正{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <form method="post" class="py-3 col-6 mx-auto">
    <div class="row mb-3">
      <label for="inputTask" class="col-form-label"><i class="bi bi-list-task"></i> タスク名</label>
      <div>
        <input name="title" type="text" class="form-control" id="inputTask" value="{{ request.form['title'] or tasks['title'] }}" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputMemo" class="col-form-label"><i class="bi bi-card-text"></i> 備考欄</label>
      <div>
        <textarea name="body" class="form-control" id="inputMemo" rows="3" required>{{ request.form['body'] or tasks['body'] }}</textarea>
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label pt-0"><i class="bi bi-check-circle"></i> 進捗</legend>
      {% if tasks['state'] == 1 %}
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios1" value="0">
            <label class="form-check-label" for="gridRadios1">
              実行前
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios2" value="1" checked>
            <label class="form-check-label" for="gridRadios2">
              実行中
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="state" id="gridRadios3" value="2">
            <label class="form-check-label" for="gridRadios3">
              完了
            </label>
          </div>
        </div>
      {% elif tasks['state'] == 2 %}
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios1" value="0">
            <label class="form-check-label" for="gridRadios1">
              実行前
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios2" value="1">
            <label class="form-check-label" for="gridRadios2">
              実行中
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="state" id="gridRadios3" value="2" checked>
            <label class="form-check-label" for="gridRadios3">
              完了
            </label>
          </div>
        </div>
      {% else %}
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios1" value="0" checked>
            <label class="form-check-label" for="gridRadios1">
              実行前
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="state" id="gridRadios2" value="1">
            <label class="form-check-label" for="gridRadios2">
              実行中
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="state" id="gridRadios3" value="2">
            <label class="form-check-label" for="gridRadios3">
              完了
            </label>
          </div>
        </div>
      {% endif %}
    </fieldset>
    <div class="d-grid gap-2">
      <button type="submit" class="btn accent_btn_color text_color">修正</button>
    </div>
  </form>

  <hr>
  <form action="{{ url_for('home.delete', id=tasks['id']) }}" class="d-grid gap-2 col-6 mx-auto" method="post">
    <button class="btn btn-danger" type="submit">削除</button>
  </form>
{% endblock %}
