{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-start align-items-center">
    <h1>{% block title %}グループ一覧{% endblock %}</h1>
  </div>
{% endblock %}


{% block content %}
  {% for post in posts %}
    <div class="card my-2 card_back_color card_text_color fw-bolder">
      <div class="card-body">
        <h3 class="card-title">{{ post['groupe_name'] }}</h3>
        <p class="card-text">{{ post['groupe_explain'] }}</p>
        <a href="{{ url_for('home.task', id=post['id']) }}" class="btn accent_btn_color text_color">タスクを見る</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
