{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Join groupe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">groupe_code</label>
      <input name="groupe_code" type="text" class="form-control" id="exampleFormControlInput1" placeholder="グループコード" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">参加</button>
    </div>
  </form>
{% endblock %}
