{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-start align-items-center">
    <h1>{% block title %}グループ参加{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <form method="post" class="py-3 col-6 mx-auto">
    <div class="row mb-3">
      <label for="inputCode" class="col-form-label"><i class="bi bi-link"></i> グループコード</label>
      <div>
        <input name="groupe_code" type="text" class="form-control" id="inputCode" required>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn accent_btn_color text_color">参加</button>
    </div>
  </form>
{% endblock %}
