{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}task{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div class="d-grid gap-2">
        <a href="{{ url_for('home.add', id = id) }}"><button class="btn btn-primary" type="button" >タスクを追加する</button></a>
    </div>
  {% for task in tasks %}
    {% if task.state == 0 %}
      <div class="card text-white bg-primary my-2">
        <div class="card-header fs-3">
            {{ task['title'] }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-3">
            <p>{{ task['body'] }}</p>
          </blockquote>
          <p>実行前</p>
    {% elif task.state == 1 %}
      <div class="card text-white bg-secondary my-2">
        <div class="card-header fs-3">
            {{ task['title'] }}
        </div>
        <div class="card-body ">
          <blockquote class="blockquote mb-3">
            <p>{{ task['body'] }}</p>
          </blockquote>
          <p>実行中（{{ task['username'] }}）</p>
    {% elif task.state == 2 %}
      <div class="card text-white bg-success my-2">
        <div class="card-header fs-3">
            {{ task['title'] }}
        </div>
        <div class="card-body ">
          <blockquote class="blockquote mb-3">
            <p>{{ task['body'] }}</p>
          </blockquote>
          <p>完了（{{ task['username'] }}）</p>
    {% endif %}
        </div>
        <a class="btn btn-info" href="{{ url_for('home.edit', id=task['id']) }}">修正</a>
      </div>
  {% endfor %}
{% endblock %}
