{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}task{% endblock %}</h1>
  <h1>make groupe</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('home.create') }}">New</a>
  {% endif %}
  <h1>join groupe</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('home.join') }}">join</a>
  {% endif %}
  <h1>add task</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('home.add', id = id) }}">add</a>
  {% endif %}
{% endblock %}


{% block content %}
  {% for task in tasks %}
    <article class="post">
      <header>
        <div>
          <h1>{{ task['title'] }}</h1>
        </div>
      </header>
    </article>
  {% endfor %}
{% endblock %}
