body {
    background-color: #4f85a6;
    color: #d8dbd9;
}

A:hover {
    color: black;
}

.name {
    color: #d8dbd9;
}

.name:hover {
    color: #d8dbd9;
}

.nav_head {
    background-color: #4f85a6;
    border-bottom: 10px solid #79a7d9;
    color: #d8dbd9;
}

.text_color {
    color: #d8dbd9;
}

.card_back_color {
    background-color: #d8dbd9;
}

.card_text_color {
    color: #4f85a6;
}

.accent_color {
    color: #79a7d9;
}

.accent_btn_color {
    background-color: #79a7d9;
}

.back_color {
    background-color: #4f85a6;
}

.content {
    padding: 20px;
}
