{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-start align-items-center">
    <h1>{% block title %}ログイン{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <form method="post" class="py-3 col-6 mx-auto">
    <div class="row mb-3">
      <label for="inputTask" class="col-form-label"><i class="bi bi-person-circle"></i> ユーザー名</label>
      <div>
        <input name="username" type="text" class="form-control" id="inputTask" autofocus required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputMemo" class="col-form-label"><i class="bi bi-key"></i> パスワード</label>
      <div>
        <input name="password" type="password" class="form-control" id="inputMemo" required>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn accent_btn_color text_color">ログイン</button>
    </div>
  </form>
{% endblock %}
